.App {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto";
}
.error {
    border:1px solid red;
}

.errorMessage {
    color:red;
}

.activeFilter {
 background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}
